table{
	border-collapse:collapse;
}
textarea{
	resize: none;
}
#tr{
	margin:0px;
	padding:0px;
}
#state{
	border:1px solid black;
	height:100%;
	border-top: none;
	border-bottom: none;
}
#ct{
	width:250px;
}
.ne {
	width: 415px;
}
.small{
	width:50px;
}
.other{
	width:132px;
}
.td{
	font-weight: bold;
	text-align: right;
	width:120px;
}
#bottom{
	background:#D0FFFF;
	text-align: center;
}